<!doctype html>
<html lang="zh-Hans">
  <head>
    <meta charset="UTF-8"/>
    <title>Document</title>
  </head>
  <body>
    <div id="app"></div>
    <script>
      {% if error %}
      var hasError = true;
      {% else %}
      var hasError = false;
      {% endif %}
      var _username = "{{ last_username }}"
      var _csrf_token = "{{ csrf_token('authenticate') }}";
    </script>
    {% javascripts '@UserBundle/Resources/public/js/app.js'  %}
    <script src="{{ asset_url  }}"></script>
    {% endjavascripts %}
  </body>
</html>
